<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Button Test</title>
    <link rel="stylesheet" href="/css/app.css">
    <style>
      div {
        margin: 10px 0;
      }
  </style>
  </head>
  <body>
      <div>
        <label>
          Size
        </label>
        <span>
          <button class="primary small">Button</button>
          <button class="primary medium">Button</button>
          <button class="primary large">Button</button>
        </span>
      </div>
      <div>
        <label>
          Types
        </label>
        <span>
          <button class="primary medium">Button</button>
          <button class="plain medium">Button</button>
          <button class="success medium">Button</button>
        </span>
      </div>
      <div>
        <label>
          Disabled
        </label>
        <span>
          <button class="primary medium" disabled>Button</button>
          <button class="plain medium" disabled>Button</button>
          <button class="success medium" disabled>Button</button>
        </span>
      </div>
      <div>
        <label>
          Icons
        </label>
        <span>
          <button class="primary small">Button<svg class="icon"><use xlink:href="/icons/icons.svg#arrow-right" /></svg></button>
          <button class="plain medium">Button<svg class="icon"><use xlink:href="/icons/icons.svg#arrow-right" /></svg></button>
          <button class="success large">Button<svg class="icon"><use xlink:href="/icons/icons.svg#arrow-right" /></svg></button>
        </span>
      </div>
  </body>
</html>
