<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Header Test</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <header>
      <div class="container grid vr-center spacer-vertical--2x">
        <nav class="column">
          <a href="#" class="brand">Project name</a>
          <!--icon class="primary medium">listview</icon-->
          </nav>
        <form role="form" class="column">
          <input type="text" class="primary medium" placeholder="Email">
          <input type="password" class="primary medium" placeholder="Password">
          <button class="success medium">Log In</button>
        </form>
      </div>
    </header>
  </body>
</html>
